$primary-color: hsl(180, 29%, 50%);
$background-color: hsl(180, 52%, 96%);
$skill-background: hsl(180, 31%, 95%);
$title-job-color: hsl(180, 8%, 52%);
$future-color: hsl(180, 14%, 20%);
$box-color: hsl(0, 100%, 100%);
